table {
    font-family: 'Roboto Mono', monospace;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}
